body {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


/*navigation-bar*/
#header-img {
    width: 250px;
    height: 100%;
}

#header{
    position: fixed;
    display: flex;
    width: 100%;
    min-height: 75px;
   background: rgb(240, 193, 133);
   align-content: center;
    justify-content: space-between;
    padding: 0 20px ;
    color:#111;
    border-radius: 10px;
    height: 63px;
  
    z-index: 1;
}
nav ul {
    list-style-type: none;
    margin-right: 50px;
}

nav li {
    float: left;
    }
    .nav-link {
        display: block;
        color: white;
        text-align: center;
        padding: 8px;
        text-decoration: none;
        transition: ease-in 0.3s;
    }
    
li a:hover {
    background-color: #8b5003;
    border-radius: 5px;
  }

  /*banner*/
  #banner-img {
height: 650px;
width:100%;  
z-index: 2;
  }

  .banner-container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Centered on image text */
.centered {
    color:  #422a09;
    background:  rgba(211, 211, 211, 0.4);
  font-family: "Charm";
  font-size: 60px;
  font-weight: 700;
 
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#view-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-70%, -50%);
}
#view-products button {
    background: rgb(240, 193, 133);
    color: #111;
    border: 1px solid transparent;
    border-radius: 2px;
    padding:20px;
    margin-top: 20px;
    cursor: pointer;
}
#view-products button:hover {
    transition: all 300ms ease-out;
    background: white;
    color: #422a09;
}

/*bestsellers section*/
h2 {
    font-size: 2rem;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    color:#111;
    background: rgba(211, 211, 211, 0.6);
}
.bestsellers-img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
 
}
.bestsellers-img-container {
margin-bottom: 0px;
    transition: all 0.4s ease-in-out;
}
.bestsellers-img-container:hover {
    transform: scale(1.1);

}
.bestseller-heading {
    position: relative;
    top: 80%;

}

#best-sellers-media-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background: rgba(66, 42, 9, 0.8);
}

    #bestsellers {
    text-align: center;
    border-bottom: 1px solid #422a09;
}

#view-more button, .view-collection-products {
    background: rgb(240, 193, 133);
    color: #111;
    border: 1px solid transparent;
    border-radius: 2px;
    padding:15px;
    cursor: pointer;
    margin-bottom: 15px;
}
#view-more button:hover {
    transition: all 300ms ease-out;
    background:  #422a09;
    color: white;
}



/*About section*/
#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 170px;

}
#about-content {
    width:50%;
    padding: 10px;
}
#about-image {
    border-radius: 3px; 
    height:350px;
    margin-top: 80px;
    
}
#about-us, #info-content {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
line-height: 1.2;
}

/*Collection*/
#collection {
    border-top: 1px solid #422a09;

}

#collection-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px ;
    place-self: center;

}
.collection-image{
    width: 350px;
    height: 350px;
    border-radius: 5px;
   
}

.image-text {
    position: relative;
    top:-28%;
    left: 10%;
}
.collection-name {
    font-size: 1.7rem;
    margin-bottom: 5px;
    width: fit-content;
    border-radius: 2px;
}
.view-collection-products:hover {
    background-color: white;
    color: #422a09;
    transition-duration: 1s;
}

/*discover section*/

#info {
    border-top: 1px solid #422a09;
    margin: 0 20px ;
    padding: 10px;
   
}

#info-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
#video {
    height: 250px;
    width: 300px;
}
/*subscribe*/
#subscribe {
    background-image: url("media/Image-by-AliceCam-AdobeStock-Final-Edit-1.webp");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 0;
    padding: 10px;
}


#email, #submit {
    display: block;
    margin: 0 auto;
}
#email {
    padding: 28px;
    background-color:rgba(240, 193, 133, 0.9) ;
    color:rgba(82, 82, 82, 0.089);
    font-size: 1.5rem;
    border-radius: 8px;
    width: 40%;
    border: none;
    margin-bottom: 15px;
}
#submit {
    background-color: rgb(171, 239, 241);
    padding:18px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#submit:hover {
transform: scale(1.2);
background-color: rgb(96, 148, 226);
}

footer{
    text-align: center;
    margin: 25px;
    color: gray;
}


/*small phones*/
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
    main {
      width: 100%;
      padding: 10px;
    }
    header {
      text-align: center;
    }
  }
  
  /*tablets*/
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
      font-size: 16px;
    }
    main{
      width: 90%;
      padding: 20px;
    }
    header {
      text-align: left;
    }
  }

  /*high-resolution*/
  @media only screen and (min-resolution: 192dpi) {
    body {
      font-size: 18px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  
